<!--====================PARTE QUE HEREDAN LAS TEMPLATE HIJAS ====================================-->
{% load static %} <!--Carga archivos estaticos, en este caso blog/main.css-->
<!DOCTYPE html>
<html lang="en">
<head>
<!--Esta parte viene del template de Bootstrap de Corey Schafer y es heredado por las templates hijas.-->
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}"><!--static gets the absolute url of main.css-->
    
    {% if titulo %} <!--Si hay una variable title en views.py-->
        <title>Django Blog - {{ titulo }}</title> <!--esta view va a tener titulo-->
    {% else %}
        <title>Sin titulo</title>
    {% endif %}
</head>
<body>
    <!------------------------------------------------------------------------------------------------------->
    <!--Copy paste del template navigation.html de Corey Schafer, leccion 3 -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <!--cambiamos los links hard-coded por django command url, usando el 
                nombre registrado en path de blog/urls.py (blog-home y blog-about)
                Esto es por si se llega a cambiar la ruta en los path de blog/urls.py se actualiza automaticamente:-->
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a> 
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %} <!--boolean atribute in djangos 'user' module-->
                  <a class="nav-item nav-link" href="{%  url 'perfil' %}">Profile</a>
                  <a class="nav-item nav-link" href="{%  url 'salir' %}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{%  url 'entrar' %}">Login</a>
                  <a class="nav-item nav-link" href="{%  url 'alta' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
    <!------------------------------------------------------------------------------------------------------->
    <!--Copy paste del template main.html de Corey Schafer, leccion 3-->

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
        <!--Messages que pueden aparecer en cualquier template
        Within this section, it checks if there are any messages to display to the user, using the messages framework
        provided by Django. If there are messages, it iterates over them and renders each message as an alert with a 
        corresponding Bootstrap alert style, based on the message's tags.
        Overall, this code provides a basic structure for the main content area of a website that can be extended by 
        child templates that inherit from it. It also allows for the display of user feedback messages using Django's 
        messages framework.-->
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div> <!--Grupo (tags) de mensajes de alerta con su tipo de clase-->
             {% endfor %}
          {% endif %}
<!--=======================FIN PARTE HEREDADA================================================-->
<!--=======================PARTE UNICA DE CADA TEMPLATE===========================-->
          {% block content %}{% endblock %}
<!--=======================FIN PARTE UNICA========================================-->
<!--====================PARTE QUE HEREDAN LAS TEMPLATE HIJAS ====================================-->

        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    
    <!------------------------------------------------------------------------------------------------------->

<!-- Optional JavaScript from Bootstrap template Corey Schafer-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    

</body>
</html>
<!--=======================FIN PARTE HEREDADA================================================-->
<p class="m-2"></p>
