{% extends "blog/base.html" %} <!--embed  base.html-->
    <!--for loop para iterar por cada posteo de la lista posts-->
    <!--This is the only unique part of this template. The rest, even the html structure, will be
    inheritated from base.html-->
{% block content %} <!--se refiere al block content de base.html-->
    {% for i in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ i.author }}</a>
                    <small class="text-muted">{{ i.date_posted|date:"d F Y" }}</small> <!--Filter date according Django date documents.-->
                </div>
                <h2><a class="article-title" href="#">{{ i.title }}</a></h2>
                <p class="article-content">{{ i.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
    
